# Ignore all XML files
*.xml

# Ignore Python bytecode files and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.py~

# Ignore SQLite database file
db.sqlite3

# Ignore media folder
media/

# Ignore virtual environment folders
venv/
env/

# Ignore VSCode settings
.vscode/

# Ignore local settings
local_settings.py

# Ignore macOS and Windows system files
.DS_Store
Thumbs.db

# Ignore PyCharm project files
.idea/
*.iml

# Ignore workspace-specific settings
*.iws

# Ignore Jupyter Notebook checkpoints (if using PyCharm for Jupyter development)
.ipynb_checkpoints/


# Python bytecode files
__pycache__/
*.py[cod]

# Database files
db.sqlite3

# Django migration files should be tracked, but this is a common pattern
# to ignore any additional files not related to migrations
*.log

# Environment variables files
.env
db.json
*/db.json
adjusted_backup.json

volunteen_env/
logs/*
