{% load static %}
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} דף הבית{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop_base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Placeholder for extra CSS -->
    {% block extra_css %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
    {% block extra_head %}{% endblock %}
    <style>
        
        nav{
            background-image: radial-gradient(circle, orange, transparent 20%, orangered);
            background-size: cover;
            background-repeat: no-repeat;
            background-color: orange ;
        }

    </style>

</head>
<body>
    <!-- Page header -->
    

    <!-- Navigation menu -->
    <nav>
        <a href="{% url 'shopApp:shop_home' %}">דף הבית</a>
        <a href="{% url 'shopApp:pending_redemption_requests' %}">בקשות מימוש בהמתנה</a>
        <a href="{% url 'shopApp:shop_redemptions' %}">ראה את כל הפדיונים</a>
        <a href="{% url 'teenApp:logout_view' %}">התנתקות</a> 
    </nav>

    <!-- Main content area -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Page footer -->
    <footer>
        &copy; 2025 Volunteen | לעזרה או תמיכה, צרו קשר ב: volunteen2023@gmail.com
    </footer>

    <!-- Placeholder for extra JavaScript -->
    {% block extra_js %}{% endblock %}
</body>
</html>
