{% extends 'child_base.html' %}

{% block title %}Profile of {{ child.user.username }}{% endblock %}

{% block content %}
<h1>Welcome, {{ child.user.username }} :)</h1>
<p class="points" style="font-size: 1.5em; color: #5d22ff;">{{ greeting|safe }}</strong></p>

<p class="points" style="font-size: 1.5em; color: #ff5722;">Points in your Wallet: <strong>{{ child.points }}</strong></p>
<p class="points">Let's earn more Points!</p>
<p><strong>My Identifier:</strong> {{ child.identifier }}</p>
<p><strong>My Secret Code:</strong> {{ child.secret_code }}</p>

<!-- Navigation buttons -->
<a href="{% url 'list' %}" class="button" style="background-color: #28a745;">Go to Task List</a>
<a href="{% url 'reward' %}" class="button" style="background-color: #1755b8;">Go to Reward List</a>
<a href="{% url 'redemption_history' %}" class="button" style="background-color: #17a2b8;">Redemption History</a>
<a href="{% url 'completed_tasks' %}" class="button" style="background-color: #5d22ff;">Completed Tasks</a>
<a href="{% url 'logout_view' %}" class="button button-logout">Logout</a>
{% endblock %}