{% extends 'child_base.html' %}

{% block title %}הפרופיל של {{ child.user.username }}{% endblock %}

{% block content %}
<h1>ברוך הבא, {{ child.user.username }} :)</h1>
<p class="points" style="font-size: 1.5em; color: #5d22ff;">{{ greeting|safe }}</p>

<p class="points" style="font-size: 1.5em; color: #ff5722;">טינקוינס בארנק:  <strong>{{ child.points }}</strong></p>
<p class="points"> !בוא נאסוף עוד טינקוינס</p>
<p><strong>מס' המזהה שלי: </strong> {{ child.identifier }}</p>

<!-- Secret Code Button -->
<button onclick="showSecretCode()" class="button" style="background-color: #007bff;">הראה קוד סודי</button>

<!-- Modal for displaying secret code -->
<div id="secretCodeModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p><strong>קוד סודי שלי: </strong> {{ child.secret_code }}</p>
    </div>
</div>

<!-- New Task Notification -->
{% if new_tasks %}
<div id="newTaskNotification" class="notification">
    <p>יש לך {{ new_tasks_count }} משימות חדשות!</p>
    <button class="button" onclick="closeNotification()">Close</button>
</div>
{% endif %}

<a href="{% url 'child_active_list' %}" class="button" style="background-color: #28a745;">
    <i class="fas fa-tasks"></i> רשימת המשימות
</a>
<a href="{% url 'reward' %}" class="button" style="background-color: #1755b8;">
    <i class="fas fa-gift"></i> רשימת הפרסים
</a>
<a href="{% url 'child_redemption_history' %}" class="button" style="background-color: #17a2b8;">
    <i class="fas fa-history"></i> היסטוריית רכישה
</a>
<a href="{% url 'child_completed_tasks' %}" class="button" style="background-color: #5d22ff;">
    <i class="fas fa-check-circle"></i> משימות מושלמות
</a>
<a href="{% url 'child_points_history' %}" class="button" style="background-color: #9175c8;">
    <i class="fas fa-coins"></i> היסטוריית טינקוינס
    <a href="{% url 'points_leaderboard' %}" class="button" style="background-color: #ff9800;">
        <i class="fas fa-trophy"></i> קיר התהילה
</a>
<a href="{% url 'logout_view' %}" class="button button-logout">
    <i class="fas fa-sign-out-alt"></i> יציאה
</a>


<script>
function showSecretCode() {
    document.getElementById('secretCodeModal').style.display = 'block';
}

function closeModal() {
    document.getElementById('secretCodeModal').style.display = 'none';
}

function closeNotification() {
    document.getElementById('newTaskNotification').style.display = 'none';
}
</script>

<style>
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.notification {
    background-color: #ff9800;
    color: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
}
</style>
{% endblock %}