{% extends 'child_base.html' %}
{% load static %}
{% block title %}היסטוריית טינקוינס{% endblock %}

{% block content %}
    <h1>היסטוריית טינקוינס</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">סנן</button>
    </form>
    <style>
        .completed-task {
            color: green;
            font-weight: bold;
        }
        .bonus-points {
            color: green;
            font-weight: bold;
        }
        .redeemed {
            color: red;
            font-weight: bold;
        }
        .points-completed {
            color: green;
        }
        .points-bonus {
            color: green;
        }
        .points-redeemed {
            color: red;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            direction: rtl;
        }
        th, td {
            padding: 8px;
            text-align: right;
        }
        .points {
            direction: ltr;
        }
    </style>
    <table>
        <thead>
            <tr style="background-color: #007bff; color: white;"> 
                <th>תיאור</th>
                <th>טינקוינס</th>
                <th>תאריך</th>
                <th>יתרה</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in points_history %}
                <tr style="border-bottom: 1px solid #ddd;">
                    <td class="{% if 'Completed Task' in entry.description %}completed-task{% elif 'Bonus Points' in entry.description %}completed-task{% elif 'Redeemed' in entry.description %}redeemed{% endif %}">{{entry.string}}</td>
                    <td class="{% if 'Completed Task' in entry.description %}points-completed{% elif 'Bonus Points' in entry.description %}points-bonus{% elif 'Redeemed' in entry.description %}points-redeemed{% endif %} points">{{ entry.points }}</td>
                    <td>{{ entry.date|date:"d/m/Y" }}</td>
                    <td class="points">{{ entry.balance }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" style="padding: 8px; text-align: center;">אין עדיין </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
