{% extends 'mentor_base.html' %}
{% load static %}
{% block title %}All Tasks{% endblock %}

{% block content %}
    <h1>All Tasks</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Deadline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for data in task_data %}
                <tr>
                    <td><a href="#" class="task-title" data-task-id="{{ data.task.id }}">{{ data.task.title }}</a></td>
                    <td>{{ data.task.deadline|date:"d/m/Y" }}</td>
                    <td>
                        <button class="toggle-details" data-task-id="{{ data.task.id }}">View Details</button>
                    </td>
                </tr>
                <tr class="task-details" data-task-id="{{ data.task.id }}" style="display: none;">
                    <td colspan="3">
                        <div>
                            <p>{{ data.task.description }}</p>
                            <p><strong>Points:</strong> {{ data.task.points }}</p>
                            <p><strong>Duration:</strong> {{ data.task.duration }}</p>
                            <p><strong>Additional Details:</strong> {{ data.task.additional_details }}</p>
                            <p><strong>Completed by ({{ data.completed_count }}):</strong></p>
                            <ul>
                                {% for child in data.completed_by %}
                                    <li>{{ child.user.username }}</li>
                                {% endfor %}
                            </ul>
                            <form method="post" enctype="multipart/form-data" class="image-form">
                                {% csrf_token %}
                                {{ data.form.as_p }}
                                <input type="hidden" name="task_id" value="{{ data.task.id }}">
                                <button type="submit" class="button" style="background-color: #28a745;">Update Image</button>
                            </form>
                            {% if data.task.img %}
                                <img src="{{ data.task.img.url }}" alt="{{ data.task.title }}" style="max-width: 100px; height: auto;">
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mentor_completed_tasks_view.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/mentor_completed_tasks_view.js' %}"></script>
{% endblock %}
