{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .task-table {
        font-size: 1em;
        width: 100%;
        border-collapse: collapse;
    }
    .task-table td, .task-table th {
        border: 1px solid #ddd;
        vertical-align: middle;
        padding: 8px;
        text-align: left;
    }
    .task-table th {
        background-color: #ffe6cc;
        color: #333;
        text-align: center;
    }
    .task-table-container {
        overflow-x: auto;
    }
    .task-image {
        max-width: 100px;
        height: auto;
        margin-right: 10px;
    }
    .details-row {
        display: none;
    }
    @media (max-width: 768px) {
        .task-table {
            font-size: 0.9em;
        }
    }
    @media (max-width: 480px) {
        .task-table {
            font-size: 0.85em;
        }
    }
</style>

<div class="container mt-5" dir="rtl">
    <h2 style="color: #ff6600;">רשימת משימות לחונך</h2>
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">סנן</button>
    </form>
    <div class="task-table-container">
        <table class="table task-table">
            <thead>
                <tr>
                    <th>תמונה</th>
                    <th>כותרת</th>
                    <th>תאריך יעד</th>
                    <th>TeenCoins</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr onclick="toggleDetails({{ forloop.counter }})" style="cursor: pointer;">
                    <td>
                        {% if task.img %}
                            <img src="{{ task.img.url }}" alt="תמונה של משימה {{ task.title }}" class="task-image" />
                        {% else %}
                            <img src="{% static 'images/logo.png' %}" alt="תמונה לוגו" class="task-image" />
                        {% endif %}
                    </td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.deadline|date:"d/m/Y" }}</td>
                    <td>{{ task.points }}</td>
                </tr>
                <tr id="details-{{ forloop.counter }}" class="details-row">
                    <td colspan="3">
                        <b>תיאור:</b> {{ task.description }}<br>
                        <b>פרטים נוספים:</b> {{ task.additional_details }}<br>
                        <b>הילדים שהוקצו למשימה:
                            {% for child in task.assigned_children.all %}
                            <li>{{child.user.username}}</li>
                            {% endfor %}
                        <br>
                        <a href="{% url 'assign_task' task.id %}" class="btn btn-primary mt-2">הקצה משימה</a>
                        <a href="{% url 'assign_points' task.id %}" class="btn btn-primary mt-2">מתן TeenCoins</a>
                        <a href="{% url 'edit_task' task.id %}" class="btn btn-warning mt-2">ערוך משימה</a>
                    </td>
                </tr>
                {% endfor %}
                {% if tasks|length == 0 %}
                <tr>
                    <td colspan="3" class="text-center">לא נמצאו משימות</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'home_redirect' %}" class="btn btn-primary mt-4">דף הבית</a>
</div>

<script>
    function toggleDetails(counter) {
        var detailsRow = document.getElementById('details-' + counter);
        if (!detailsRow.style.display || detailsRow.style.display === 'none') {
            detailsRow.style.display = 'table-row';
        } else {
            detailsRow.style.display = 'none';
        }
    }
</script>
{% endblock %}
