{% extends 'shop_base.html' %}
{% load static %}
{% block title %}Not Enough Points{% endblock %}

{% block content %}
    <div class="container">
        <div class="error-section">
            <h2>Error</h2>
            <p class="error-message">Either the child does not have enough points or the shop has reached its maximum points limit.</p>
            <a class="btn btn-primary" href="{% url 'shop_redeem_points' %}">Back to Redeem Points</a>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/shop_not_enough_points.css' %}">
{% endblock %}
