{% extends 'shop_base.html' %}
{% load static %}
{% block title %}אין פרסים זמינים{% endblock %}

{% block content %}
    <div class="no-rewards-container" dir="rtl">
        <h2>אין פרסים זמינים</h2>
        <p>או שהילד אין מספיק טינקוינס או שהבית עסק הגיע למגבלת טינקוינס מקסימלית.</p>
        <a href="{% url 'shop_home' %}" class="btn btn-primary">חזרה לדף הבית</a>
    </div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/shop_no_rewards.css' %}">
{% endblock %}
