{% extends 'mentor_base.html' %}
{% load static %}
{% block title %}בית חונך{% endblock %}

{% block content %}
<style>
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* מרכז את הכפתורים */
    margin: 0 auto;
    width: 100%; /* מוודא שהכפתורים לא יחרגו מהרוחב */
    max-width: 500px; /* גבול עליון לרוחב */
}

.btn {
    display: block;
    width: 90%; /* הכפתורים יתפסו 90% מרוחב הקונטיינר */
    margin: 10px 0; /* ריווח אנכי בין הכפתורים */
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.mentor-btn { 
    border: solid 4px #ff9800;
    color: #ff9800;
    background-color: transparent;
}
.mentor-btn:hover {
    background-color: #ff9800;
    color: white;
}

.pink-btn { background-color: #e91e63; }
.blue-btn { background-color: #2196f3; }
.green-btn { background-color: #4caf50; }
.orange-btn { background-color: #ff9800; }
.purple-btn { background-color: #9c27b0; }
.yellow-btn { background-color: #ffc107; }
.red-btn { background-color: #f44336; }

@media only screen and (max-width: 428px) {
    .btn {
        font-size: 14px;
        padding: 12px; 
    }
}

.alert {
    margin-top: 10px;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    text-align: right;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-success {
    background-color: #4caf50;
    color: white;
    border: solid 2px #388e3c;
}

.alert-danger {
    background-color: #f44336;
    color: white;
    border: solid 2px #d32f2f;
}

.alert-warning {
    background-color: #ff9800;
    color: white;
    border: solid 2px #f57c00;
}

.alert-info {
    background-color: #2196f3;
    color: white;
    border: solid 2px #1976d2;
}

.btn-close {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}

</style>
    <h2 dir="rtl">ברוך הבא, {{ mentor.user.username }}</h2>
    <div>
        טינקאוינס זמינים: {{ mentor.available_teencoins }}
    </div>
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="סגור"></button>
      </div>
    {% endfor %}
  {% endif %}
    <div class="section" dir="rtl">
        <a href="{% url 'mentorApp:mentor_add_task' %}" class="btn mentor-btn"><i class="fas fa-plus"></i> הוספת משימה</a>
        <a href="{% url 'mentorApp:template_list' %}" class="btn mentor-btn"><i class="fas fa-copy"></i> משימות לשכפול</a>
        <a href="{% url 'mentorApp:mentor_task_list' %}" class="btn mentor-btn"><i class="fas fa-tasks"></i>רשימת משימות</a>
        <a href="{% url 'mentorApp:mentor_task_images' %}" class="btn mentor-btn">
            <i class="fas fa-images"></i> אישור משימות
        </a>        
        <a href="{% url 'mentorApp:mentor_children_details' %}" class="btn mentor-btn"><i class="fas fa-child"></i> הצג פרטי הילדים</a>
        <a href="{% url 'mentorApp:bonus_task_selection' %}" class="btn mentor-btn">
            <i class="fas fa-gift"></i> מתן נקודות בונוס
        </a>
        <a href="{% url 'mentorApp:mentor_group_list' %}" class="btn mentor-btn"><i class="fas fa-users"></i> רשימת קבוצות</a>
        <a href="{% url 'mentorApp:children_performance' %}" class="btn mentor-btn"><i class="fas fa-star"></i>ביצועי ילדים</a>

    </div>



{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mentor_home.css' %}">
{% endblock %}

