/* static/css/shop_home.css */
body, h2, h3, p {
    margin: 0;
    padding: 0 10px;
}

h2 {
    font-size: 22px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    color: #333;
}

p {
    font-size: 16px;
}

.points-used {
    color: #007bff; /* Blue color for points used */
}

.points-left {
    color: #28a745; /* Green color for points left */
}

.btn {
    display: block; /* Make buttons block level for easier touch */
    width: 90%; /* Slightly smaller width for aesthetics */
    margin: 10px auto; /* Center buttons */
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    text-align: center;
}

.btn i {
    margin-right: 8px; /* Add space between icon and text */
}

.btn:hover {
    background-color: #45a049;
    opacity: 0.9;
}
.btn-success {
    background-color: #28a745 !important; /* Bootstrap green */
    color: white !important;
}

.btn-danger {
    background-color: #dc3545 !important; /* Bootstrap red */
    color: white !important;
}

.blue-btn {
    background-color: #007bff;
}

.orange-btn {
    background-color: #fd7e14;
}

.section {
    margin-bottom: 20px;
}

.chart-container {
    position: relative;
    margin: 20px auto;
    height: 200px;
    width: 100%;
}

@media (max-width: 600px) {
    h2, h3, p {
        font-size: 90%; /* Smaller text on very small devices */
    }
    .btn {
        font-size: 14px;
        padding: 10px;
    }
}
